body{
	background-color: aquamarine;
	font-family: serif, monospace, fantasy;
	font-size:20px;
}

h1, h2, h3, h4, h5, h6{
	text-align: center;
	color: #414141;
	font-weight: bold;
	font-family: "Copperplate", Georgia, serif;
}


.ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #696969;
	color: #fcffa4;
}

.li{
	float: left;
}

.li a{
	display: block;
	padding: 14px 16px;
	background-color: #696969;
	color: #fcffa4;
	text-align: center;
	text-decoration: none;
}

.li a:hover{
	background-color: #fcffa4;
	color: #696969;
}

